{% extends 'base_dashboard.html.twig' %}

{% block title %}Приветствие!{% endblock %}



{% block sidebar_list %}
    {% include 'sidebar/sidebar_list.html.twig' %}
{% endblock %}



{% block main %}
    <h1>Вы залогинились успешно!</h1>
    <p>Здравствуйте, <strong>{{ user_display_name }}</strong>!</p>
    <p>Организация: <strong>{{ organization.name }}</strong></p>
    {% if organization.description %}
        <p>{{ organization.description }}</p>
    {% endif %}
    {% if organization.address %}
        <p>Адрес: {{ organization.address }}</p>
    {% endif %}
    {% if organization.phone %}
        <p>Телефон: {{ organization.phone }}</p>
    {% endif %}
    {% if organization.email %}
        <p>Email: {{ organization.email }}</p>
    {% endif %}
{% endblock %}
