<ul class="menu">

    <li class="sidebar-title">Меню</li>

    <li
        class="sidebar-item  {% if active_tab == 'new_document' %}active{% endif %}">
        <a href="{{ path('app_new_document') }}" class='sidebar-link'>
            <i class="bi bi-grid-fill"></i>
            <span>Новый документ</span>
        </a>
    </li>

    <li
        class="
            sidebar-item
            has-sub
            {% if active_tab == 'incoming_documents' %}active{% endif %}
            {% if active_tab == 'outgoing_documents' %}active{% endif %}
    ">
        <a href="#" class='sidebar-link'>
            <i class="bi bi-stack"></i>
            <span>Документы</span>
        </a>

        <ul class="submenu active">

            <li class="submenu-item {% if active_tab == 'incoming_documents' %}active{% endif %} ">
                <a href="{{ path('app_incoming_documents') }}" class="submenu-link">Входящие</a>
            </li>

            <li class="submenu-item  {% if active_tab == 'outgoing_documents' %}active{% endif %} ">
                <a href="{{ path('app_outgoing_documents') }}" class="submenu-link">Исходящие</a>
            </li>

        </ul>
    </li>

    <li
        class="
            sidebar-item
            has-sub
            {% if active_tab == 'register' %}active{% endif %}
            {% if active_tab == 'all_users' %}active{% endif %}
            {% if active_tab == 'view_user' %}active{% endif %}
            {% if active_tab == 'edit_user' %}active{% endif %}
    ">
        <a href="#" class='sidebar-link'>
            <i class="bi bi-stack"></i>
            <span>Пользователи</span>
        </a>

        <ul class="submenu active">

            <li class="submenu-item {% if active_tab == 'register' %}active{% endif %} ">
                <a href="{{ path('user_register') }}" class="submenu-link">Регистрация нового</a>
            </li>

            <li class="submenu-item  {% if active_tab == 'all_users' %}active{% endif %} ">
                <a href="{{ path('app_all_users') }}" class="submenu-link">Все пользователи</a>
            </li>

        </ul>
    </li>

    <li
        class="
            sidebar-item
            has-sub
            {% if active_tab == 'create_organization' %}active{% endif %}
            {% if active_tab == 'all_organizations' %}active{% endif %}
            {% if active_tab == 'view_organization' %}active{% endif %}
    ">
        <a href="#" class='sidebar-link'>
            <i class="bi bi-stack"></i>
            <span>Организации</span>
        </a>

        <ul class="submenu active">

            <li class="submenu-item {% if active_tab == 'create_organization' %}active{% endif %} ">
                <a href="{{ path('create_organization') }}" class="submenu-link">Регистрация организации</a>
            </li>

            <li class="submenu-item  {% if active_tab == 'all_organizations' %}active{% endif %} ">
                <a href="{{ path('app_all_organizations') }}" class="submenu-link">Все организации</a>
            </li>

        </ul>
    </li>
{#    <a href="#" class="btn btn-outline-danger">Danger</a>#}
    <li class="sidebar-item">
        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">
            <span>Выйти</span>
            <i class="bi bi-box-arrow-right ms-2"></i>
        </a>
    </li>


</ul>
