<ul class="menu">

    <li
        class="sidebar-item  {% if active_tab == 'new_document' %}active{% endif %}">
        <a href="{{ path('app_new_document') }}" class='sidebar-link'>
            <i class="bi bi-file-earmark-plus-fill fs-5"></i>
            <span>Новый документ</span>
        </a>
    </li>

{#    <li#}
{#        class="#}
{#            sidebar-item#}
{#            has-sub#}
{#            {% if active_tab == 'incoming_documents' %}active{% endif %}#}
{#            {% if active_tab == 'outgoing_documents' %}active{% endif %}#}
{#            {% if active_tab == 'view_document' %}active{% endif %}#}
{#    ">#}
{#        <a href="#" class='sidebar-link'>#}
{#            <i class="bi bi-file-earmark-text-fill"></i>#}
{#            <span>Документы</span>#}
{#        </a>#}

{#        <ul class="submenu active">#}

{#            <li class="submenu-item {% if active_tab == 'incoming_documents' %}active{% endif %} ">#}
{#                <a href="{{ path('app_incoming_documents') }}" class="submenu-link">Входящие</a>#}
{#            </li>#}

{#            <li class="submenu-item  {% if active_tab == 'outgoing_documents' %}active{% endif %} ">#}
{#                <a href="{{ path('app_outgoing_documents') }}" class="submenu-link">Исходящие</a>#}
{#            </li>#}

{#        </ul>#}
{#    </li>#}

    <li
        class="
            sidebar-item
            {% if active_tab == 'incoming_documents' %}active{% endif %}
    ">
        <a href="{{ path('app_incoming_documents') }}" class='sidebar-link'>
            <i class="bi bi-file-earmark-arrow-down fs-5"></i>
            <span>Входящие документы</span>
        </a>
    </li>

    <li
        class="
            sidebar-item
            {% if active_tab == 'outgoing_documents' %}active{% endif %}
    ">
        <a href="{{ path('app_outgoing_documents') }}" class='sidebar-link'>
            <i class="bi bi-file-earmark-arrow-up fs-5"></i>
            <span>Исходящие документы</span>
        </a>
    </li>

    {% if is_granted('ROLE_MANAGER') %}
    <li
        class="
            sidebar-item
            {% if active_tab == 'register' %}active{% endif %}
            {% if active_tab == 'all_users' %}active{% endif %}
            {% if active_tab == 'view_user' %}active{% endif %}
            {% if active_tab == 'edit_user' %}active{% endif %}
    ">
        <a href="{{ path('app_all_users') }}" class='sidebar-link'>
            <i class="bi bi-people-fill fs-5"></i>
            <span>Пользователи</span>
        </a>
    </li>
    {% endif %}

    {% if is_granted('ROLE_MANAGER') %}
    <li
        class="
            sidebar-item
            {% if active_tab == 'create_organization' %}active{% endif %}
            {% if active_tab == 'all_organizations' %}active{% endif %}
            {% if active_tab == 'view_organization' %}active{% endif %}
    ">
        <a href="{{ path('app_all_organizations') }}" class='sidebar-link'>
            <i class="bi bi-building fs-5"></i>
            <span>Организации</span>
        </a>
    </li>
    {% endif %}


    <li
        class="
            sidebar-item
            {% if active_tab == 'kanban_boards' %}active{% endif %}
    ">
        <a href="{{ path('app_kanban_personal_projects') }}" class='sidebar-link'>
            <i class="bi bi-kanban-fill fs-5"></i>
            <span>Канбан доски</span>
        </a>
    </li>


</ul>
